body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("img/SS.jpg"); /* Replace with your background image */
    background-size: cover;
    color: #eee; /* Light text color for contrast against dark background */
}

.back-button {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
}
.back-button a {
    text-decoration: none;
    color: white;
    background-color: #007BFF; /* Bootstrap primary color */
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}
.back-button a:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}
.login-box {
    background-color: rgba(88, 81, 88, 0.8); /* Dark, semi-transparent background */
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* White box shadow */
    text-align: center;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #fff; /* White heading color */
    margin-bottom: 10px;
}

.tagline {
    font-style: italic;
    color: #ccc; /* Lighter tagline color */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ddd;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #666; /* Darker border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent input background */
    color: #eee; /* Light input text color */
}

button {
    background-color: #3b0a41;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    margin-top: 20px;
    color: #ccc;
}

.signup-link a {
    color: #30e4e45a;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}